body {
  margin: auto;
  background-color: pink;
  background-image: url("BeFunky-photodee1.png")
}

p{
  font-style: oblique;
  font-size: larger;
}

h2{ 
  text-align: center;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;

}

a:link {
  color: pink;

}

a:visited {
  color: purple;

}
